{% extends 'pages/base.html' %}

{% load static %}

{% block content %}

<table class="table">

    <thead class="table-primary">
        <th scope="col"> ID (remove): </th>
        <th scope="col"> Date Booked: </th>
        <th scope="col"> Adult Number: </th>
        <th scope="col"> Children Number: </th>
        <th scope="col"> Pensioner Number: </th>
        <th scope="col"> Price: </th>
        <th scope="col"> Path <th>            
    </thead>
<tbody>

    {% if records %}
        {% for record in records %}
        <tr>
            <td> {{record.booking_user_id_id}} </td>
            <td> {{record.booking_date}} </td>
            <td> {{record.booking_adults}} </td>
            <td> {{record.booking_children}} </td>
            <td> {{record.booking_oap}} </td>
            <td> {{record.booking_total_cost}} </td>
            <td> {{record.booking_path}} </td>
            
            {% endfor %}
        {% endif %}

        </tr>

</tbody>
</table>

{% endblock %}