.errorlist{
  color: red;
}

.nav-item {
    list-style-type: none;
  }

.navbtn { 
    background-color: blue;
}

.navbtn:hover{
  background-color: rgb(0, 0, 146); 
}

.navcolour{
  background-color: aqua;
}

.form1{
  background-color: rgb(250, 36, 36);
  border:3px solid black;
}
  

.apinav{
  height : 120px;
  width : 200px;
  flex-shrink: 0; 
  border:2px dotted black;
  background-color: rgb(4, 158, 12);
}
.top{
  width : 100%;
  height: 20%;
  display: flex;
}

.tempbox{
  width : 60%;
  height: 100%;
  
}

.feelbox{
  width: 40%;
  height: 100%;
  
}

.iconbox{
  width:100%;
  height: 60%;
  
  align-items: center;
  justify-content: center;
  display: flex;
}

.descbox{
  width:100%;
  height: 20%;
  
}

.weatherbar{
  display: flex;
  gap: 10px;
  width: 100vw;
  box-sizing: border-box;
  position: relative; top: 0;
  
  margin: 0 auto; 
  background-color: rgb(3, 136, 9);
  justify-content:space-evenly;
}



.dashtable{
  margin-top: 50px;
  margin-left: 50px;
  background-color: azure;
}

.dashwords{
  margin-left: 50px;
  background-color: azure;
}

.LongPathBox{
  height:33%;
  width:100%;
  border:2px solid black;
  background-color: azure;
}

.MediumPathBox{
  height:33%;
  width:100%;
  border:2px solid black;
  background-color: azure;
}

.ShortPathBox{
  height:33%;
  width:100%;
  border:2px solid black;
  background-color: azure;
}

.bookingform1{
  height:500px;
  width: 100%;
  margin-right: 0;
}

.form2{
  background-color: rgb(250, 36, 36);
  border:3px solid black;
  margin-left: 0;
  width:100%;
  gap: 0px;
  height:99%;
}

.imgcontainer{
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: -1;
}